/* Sticky footer styles-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #007bff;
    text-align:center;
    line-height:60px
}
/* Sticky footer styles-------------------------------------------------- */
html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
body {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
    margin-top: auto;
    padding: 30px 0;
    background-color: #007bff;
    color: white;
    text-align: center;
}
