<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/nav}"></nav>
<div class="container" style="text-align: center">
    <h2 th:text="#{welcome.message}">Bienvenido</h2>
    <h3>Esta es una zona privada de la web</h3>
    <p>Usuario Autenticado como: <span th:text="${#authentication.name}"></span></p>

    <div th:replace="~{fragments/tableMarks :: tableMarks}"></div>

</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>