<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/head}"></head>
<body>
<nav th:replace="~{fragments/nav}"></nav>

<div class="container" id="main-container">
    <h2>Notas</h2>

    <form class="form-inline" action="/mark/list">
        <div class="form-group">
            <input name="searchText" type="text" class="form-control" size="50"
                   placeholder="Buscar por descripción o nombre del alumno">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <p>Las notas que actualmente figuran en el sistema son las siguientes:</p>

    <div th:replace="~{fragments/tableMarks :: tableMarks}"></div>
</div>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>